# Riiid Data Eplanatory Analysis

<font color='blue'>Reference Page:<font>
https://www.kaggle.com/c/riiid-test-answer-prediction/data

### Table of content<a id="TOC"></a>

* [Train dataset](#Step1)<br>
* [Questions dataset](#Step2)<br>
* [Lectures dataset](#Step3)<br>
* [Example_test dataset](#Step4)<br>
* [Example_sample_submission dataset](#Step5)<br>

In [1]:
import os
from os import listdir
import pandas as pd

In [2]:
data_path = '/Users/adelsadr/Springboard-Projects/CapstoneTwoRiiid/riiid-test-answer-prediction/'

In [3]:
os.listdir(data_path)

['lectures.csv',
 'competition.cpython-37m-x86_64-linux-gnu.so',
 'example_sample_submission.csv',
 '__init__.py',
 'questions.csv',
 'train.csv',
 'example_test.csv']

## <a class="anchor" id="Step1">[Train dataset](#TOC)</a>

In [5]:
train = pd.read_csv(data_path + 'train.csv', index_col='row_id')

In [6]:
train.head()

,timestamp,user_id,content_id,content_type_id,task_container_id,user_answer,answered_correctly,prior_question_elapsed_time,prior_question_had_explanation
row_id,,,,,,,,,
0,0,115,5692,0,1,3,1,NaN,NaN
1,56943,115,5716,0,2,2,1,37000.0,False
2,118363,115,128,0,0,0,1,55000.0,False
3,131167,115,7860,0,3,0,1,19000.0,False
4,137965,115,7922,0,4,1,1,11000.0,False

In [7]:
train.shape

(101230332, 9)

<font color='blue'>There are 101,230,332 records observed with 9 features.<font>

In [8]:
train.timestamp.describe()

count    1.012303e+08
mean     7.703644e+09
std      1.159266e+10
min      0.000000e+00
25%      5.243436e+08
50%      2.674234e+09
75%      9.924551e+09
max      8.742577e+10
Name: timestamp, dtype: float64

<font color='red'>I don't exactly uinderstand this feature!<font>

In [9]:
train.user_id.nunique()

393656

<font color='blue'>There are 393,656 users in this dataset.<font>

In [10]:
train.content_id.nunique()

13782

<font color='blue'>13,782 unique user interaction<font>

In [11]:
train.content_type_id.value_counts()

0    99271300
1     1959032
Name: content_type_id, dtype: int64

<font color='blue'>There are 99,271,300 question events and 1,959,032 lecture events.<font>

In [12]:
train.task_container_id.nunique()

10000

In [13]:
train[['task_container_id', 'content_type_id']].groupby(by='content_type_id').nunique()

                 task_container_id
content_type_id
0                            10000
1                             9369

<font color='blue'>There are total 10,000 unique batches, all of them related to question events and 9,369 of them related to lecture events.<font>

In [14]:
train.user_answer.value_counts()

 0    28186489
 1    26990007
 3    26084784
 2    18010020
-1     1959032
Name: user_answer, dtype: int64

<font color='blue'>User's answer to each question. -1 relates to lectures.<font>

In [15]:
train.answered_correctly.value_counts()

 1    65244627
 0    34026673
-1     1959032
Name: answered_correctly, dtype: int64

<font color='blue'>out of 99,271,300 questions, there are 65,244,627 correct answers and 34,026,673 wrong answers. Here again -1 relates to lectures.<font>

In [16]:
train.prior_question_elapsed_time.describe()

count    9.887879e+07
mean     2.542381e+04
std      1.994815e+04
min      0.000000e+00
25%      1.600000e+04
50%      2.100000e+04
75%      2.966600e+04
max      3.000000e+05
Name: prior_question_elapsed_time, dtype: float64

In [17]:
train.prior_question_had_explanation.unique()

array([nan, False, True], dtype=object)

In [18]:
train.prior_question_had_explanation.value_counts()

True     89685560
False    11152266
Name: prior_question_had_explanation, dtype: int64

In [19]:
train.prior_question_had_explanation.isnull().sum()

392506

<font color='blue'>Total number of times users saw the explanation and the correct response after answering the previous question bundle is: 89,685,560, there are also 11,152,266 times they didn't see the explanation and correct response. There are also total 392,506 first questions or lecture bundles which marked as Null value here.<font>

## <a class="anchor" id="Step2">[Questions dataset](#TOC)</a>

In [53]:
question = pd.read_csv(data_path+'questions.csv')

In [21]:
question.head()

   question_id  bundle_id  correct_answer  part            tags
0            0          0               0     1   51 131 162 38
1            1          1               1     1       131 36 81
2            2          2               0     1  131 101 162 92
3            3          3               0     1  131 149 162 29
4            4          4               3     1    131 5 162 38

In [55]:
question.shape

(13523, 5)

In [24]:
question.question_id.nunique()

13523

<font color='blue'>This is the foreign key for the content_id column in train/test dataset.<font>

In [25]:
question.bundle_id.nunique()

9765

<font color='blue'>There are 9,765 questions served together.<font>

In [26]:
question.correct_answer.value_counts()

0    3716
3    3544
1    3478
2    2785
Name: correct_answer, dtype: int64

<font color='blue'>These are the correct answer to each question which can compair to user's answer from train dataset.<font>

In [27]:
question.part.value_counts()

5    5511
2    1647
3    1562
4    1439
6    1212
7    1160
1     992
Name: part, dtype: int64

<font color='blue'>This is related to TOEIC test, 1: photographs, 2: question-response, 3: conversations, 4: talks, 5: incomplete sentences, 6: text completion, and 7: single/multiple passages.<font>

In [67]:
print('tags datatype is: {}'.format(question.tags.dtypes))

print('\nNumber of unique codes to cluster questions together: {}'.format(question.tags.nunique()))

print('\nNumber of questions with no code to cluster: {}'.format(question.tags.isnull().sum()))
print(question.loc[question.tags.isnull()])

tags datatype is: object

Number of unique codes to cluster questions together: 1519

Number of questions with no code to cluster: 1
       question_id  bundle_id  correct_answer  part tags
10033        10033      10033               2     6  NaN

## <a class="anchor" id="Step3">[Lectures dataset](#TOC)</a>

In [69]:
lectures = pd.read_csv(data_path+'lectures.csv')

In [70]:
lectures.head()

   lecture_id  tag  part           type_of
0          89  159     5           concept
1         100   70     1           concept
2         185   45     6           concept
3         192   79     5  solving question
4         317  156     5  solving question

In [73]:
lectures.shape

(418, 4)

In [74]:
lectures.lecture_id.nunique()

418

<font color='blue'>This is the foreign key for the content_id column in train/test dataset.<font>

In [75]:
lectures.tag.nunique()

151

<font color='blue'>tag feature is the code to cluster lectures, here we have 151 clusters.<font>

In [78]:
lectures.part.value_counts()

5    143
6     83
2     56
1     54
7     32
4     31
3     19
Name: part, dtype: int64

## <a class="anchor" id="Step4">[Example_test dataset](#TOC)</a>

## <a class="anchor" id="Step5">[Example_sample_submission dataset](#TOC)</a>